
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');


@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}
.app-background{
  background-color: #17171c !important;
  
}
/* BUTTON-DEFAULT */



// NavBar
.navbar {
  position: fixed !important;
  padding: 0.3rem 2rem !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: white !important;
  height: 4px !important;
  width: 27px !important;
  outline: none !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 1em;
  font-weight: bold;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.nav-link {
  padding: 0.8rem 1rem !important;
}

footer {
  background-color: #121212 !important;
}

/* VARIABLES & MIXINS */

$orange: #ff4c00;
$white: #ffffff;
@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hdrcolor {
  color: $orange;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 600;
  text-align: center !important;
  justify-content: center !important;
  text-align: center;
  margin-top: 250px;
  text-shadow: 2px 2px 10px #000;
}
.hdrcolor-h5{
  color: $orange;
  font-size: 2rem !important;
  font-weight: 600 !important;
  margin-top: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #000000;
}
.secondary_title{
  color: $orange;
  text-shadow: 2px 2px 10px #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 100px;
  font-weight: 600;
  text-align: center !important;
  justify-content: center !important;
  text-align: center;
}
.secondary_h5{
  color: $orange;
  font-size: 2rem !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #000000;
  
}
#time{
  color: #fff !important;
  font-weight: 500;
  font-size: 1.2em;
}
.box_border {
  border: solid 1px  $white !important;
}
.box_border:hover{
  transform: scale(1.1) !important;
}

.secondary_header {
  height: 500px;
  width: 100%;
}
.sec_hdr {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/2.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  margin-top: 200px;
  
}

/* HOME PAGE */
.home{
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.home-paragrafo{
  color: white;
  font-size: 40px;
  margin-top: 50px;
 
}
.section-home{
  font-size: 50px !important;
  font-weight: bold !important;
  margin-bottom: 80px;
  margin-top: 100px;
  color: $orange !important;
  
}
.section-titulo{
  font-size: 2em !important;
}
.sec_1 {

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

/* SERVICE PAGE */

/* CAREER PAGE */
.g-4{
  margin-top: 100px !important;
}
.card-title{
  color: $white;
  font-size: 1.3rem !important;
  font-weight: bold !important;
  text-transform: uppercase;
  text-align: center !important;
}
.Service{
  background-color: transparent !important;
}
.Service:hover {
  transform: scale(1.1);
}

// PLANS 
.background{
  background-color: transparent !important;
  border: solid 1px $white !important;
}
.background:hover{
  transform: scale(1.1);
}
.plans_box_border{
  border: solid 1px $orange !important;
}
.card_subtitle{
  color: $white !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.card_benefit{
  color: $white;
  font-size: 20px !important;
  font-weight: 600;
  text-align: center !important;
}
.text_description{
  color: $white;
  font-size: 20px;
  text-align: center !important;
 

}
// SCROLL-UP
.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  color: $white;
  background: transparent !important;
  transition: 0.5s;
  font-weight: bolder;
}

@media (max-width: 400px) {
  
  .hdrcolor{
    font-size: 50px;
    margin-top: 160px;
    
  }
  .home-paragrafo{
    font-size: 24px;
    margin-bottom: 200rem !important;
  }
  .hdrcolor-h5{
    font-size: 1rem !important;
    margin-top: 10px;
  }
  .secondary_title {
    letter-spacing: 0.09em;
    font-size: 30px !important;
    font-weight: 600;
    text-align: center;
  }
  .sec_hdr {
    height: 60vh;
    margin: 20px 0;
  }
  .secondary_h5{
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 24px !important;
  }
  .section-home{
    font-size: 24px !important;
    margin-top: 50px;
    
  }
  
}
@media (max-width: 700px){
  .secondary_title{
    font-size: 70px;
    margin-bottom: 50px;
  }
}